{
  email adiatma.mail@gmail.com
}

adiatma.tech {
  handle_path /api/* {
    reverse_proxy api:8000 {
      health_path /
      health_interval 10s
    }
  }

  handle {
    reverse_proxy home:4173
  }
}
